section {
  padding: 16px;

  width: 100%;

  display: flex;
  justify-content: center;
}

td{
  padding: 10px;
}

md-card-actions {
  display: flex;
}

.example-full-width {
  width: 100%;
}

md-select{
  width: 100%;
}
