<section>
  <md-card class="user-list-card ">

    <md-card-title>
      Alert Settings
    </md-card-title>

    <md-card-subtitle>
      <b>General Section</b>
    </md-card-subtitle>


    <md-card-content class="example-full-width">

      <md-grid-list cols="2" rowHeight="3:1">

        <md-grid-tile colspan="1">
          <div class="select">
            <md-select placeholder="User">
              <md-option *ngFor="let item of users" [value]="item">
                {{ item }}
              </md-option>
            </md-select>
          </div>
        </md-grid-tile>

        <md-grid-tile colspan="1">

        </md-grid-tile>

        <md-grid-tile rowspan="2" class="flex-direction-column">
          <div class="select">
            <span>Providers</span>
            <md-selection-list>
              <md-list-option *ngFor="let item of alertProviders">
                {{item}}
              </md-list-option>
            </md-selection-list>
          </div>
        </md-grid-tile>

        <md-grid-tile rowspan="2" class="flex-direction-column">
          <div class="select">
            <span>Pendant Event Types</span>
            <md-selection-list>
              <md-list-option *ngFor="let item of pendantEventTypes">
                {{item}}
              </md-list-option>
            </md-selection-list>
          </div>
        </md-grid-tile>

        <md-grid-tile rowspan="3">
          <md-radio-group class="fdc">
            <md-radio-button checked="true">All Patient</md-radio-button>
            <md-radio-button value="1">
              <md-select placeholder="Branch">
                <md-option *ngFor="let item of branches" [value]="item">
                  {{ item }}
                </md-option>
              </md-select>

            </md-radio-button>
            <md-radio-button value="2">
              <md-select placeholder="Facility">
                <md-option *ngFor="let item of facilities" [value]="item">
                  {{ item }}
                </md-option>
              </md-select>
            </md-radio-button>
            <md-radio-button value="3">
                <md-select placeholder="Specific Patient">
                  <md-option *ngFor="let item of patients" [value]="item">
                    {{ item }}
                  </md-option>
                </md-select>
            </md-radio-button>
          </md-radio-group>
        </md-grid-tile>

      </md-grid-list>

    </md-card-content>


    <md-card-actions>
      <span class="spacer"></span>
      <button md-button routerLink="/alerts">Cancel</button>
      <button md-button class="mat-raised-button mat-primary" routerLink="/alerts">
        Save
      </button>
    </md-card-actions>

  </md-card>

</section>
