<section>
  <md-card class="user-list-card ">

    <md-card-title>
      Profile
    </md-card-title>

    <md-card-subtitle>
      <b>General Section</b>
    </md-card-subtitle>


    <md-card-content>
      <form>
        <table class="example-full-width" cellspacing="0">
          <tr>
            <td>
              <md-form-field>
                <input mdInput placeholder="First Name">
              </md-form-field>
            </td>
            <td>
              <md-form-field>
                <input mdInput placeholder="Last Name">
              </md-form-field>
            </td>
          </tr>

          <tr>
            <td>
              <md-form-field>
                <span mdPrefix>+1 &nbsp;</span>
                <input type="tel" mdInput placeholder="Telephone">
                <md-icon mdSuffix>local_phone</md-icon>
              </md-form-field>
            </td>
            <td>
              <md-form-field>
                <input mdInput placeholder="E-Mail">
                <md-icon mdSuffix>email</md-icon>
              </md-form-field>
            </td>
          </tr>
        </table>
      </form>
    </md-card-content>

    <md-card-subtitle>
      <b>Security Section</b>
    </md-card-subtitle>

    <md-card-content>
      <form>
        <table class="example-full-width" cellspacing="0">
          <tr>
            <td>
              <md-form-field>
                <input mdInput placeholder="Old Password">
              </md-form-field>
            </td>
            <td>
              <md-form-field>
                <input mdInput placeholder="New Password">
              </md-form-field>
            </td>
            <td>
              <md-form-field>
                <input mdInput placeholder="Confirm Password">
              </md-form-field>
            </td>
          </tr>
        </table>
      </form>
    </md-card-content>

    <md-card-actions>
      <span class="spacer"></span>
      <button md-button routerLink="/">Cancel</button>
      <button md-button class="mat-raised-button mat-primary" routerLink="/">
        Save
      </button>
    </md-card-actions>

  </md-card>

</section>
